/* Import fonts files */
@import url('../fonts/fonts.css');

/* Import styles files */
@import url('nav.css');
@import url('header.css');
@import url('work.css');

body {
    margin: 0;
    padding: 0;
}

* {
    /* Color variables */
    --color-white: #fff;
    --color-finch: #58604B;
    --color-dawn-pink: #EBEBEB;
    --color-limed-spruce: #33464E;
    --color-limed-spruce-95: #33464ECC;
    --color-limed-spruce-25: #33464E4D;
    --color-baltic-sea: #242D31;
    --color-pastel-pink: #F9CED2;
    --color-scarlet: #BE0A1C;
    --color-dark-jungle-green: #242424;
    --color-alabaster: #FAFAFA;
    --color-boulder: #777777;
    --color-grey-goose: #D1D1D1;
    --color-shuttle-grey: #5C6D72;
}