/* Import fonts file */
@import url('../fonts/fonts.css');

body {
    margin: 0;
    padding: 0;
}

* {
    /* Color variables */
    --color-white: #fff;
    --color-finch: #58604B;
    --color-dawn-pink: #EBEBEB;
    --color-limed-spruce: #33464E;
    --color-limed-spruce-95: #33464ECC;
    --color-limed-spruce-25: #33464E4D;
    --color-baltic-sea: #242D31;
    --color-pastel-pink: #F9CED2;
    --color-scarlet: #BE0A1C;
    --color-dark-jungle-green: #242424;
    --color-alabaster: #FAFAFA;
    --color-boulder: #777777;
    --color-grey-goose: #D1D1D1;
    --color-shuttle-grey: #5C6D72;
}

/* Header Section */
header {
    color: var(--color-white);
}

header .container {
    display: flex;
    position: relative;
}

header .container #left {
    display: grid;
    grid-template-columns: auto auto auto; 
    width: 30%;
    height: 100vh;
    background-color: var(--color-limed-spruce);
}

.grid-item {
    border: 1px solid var(--color-baltic-sea);
    opacity: 0.4;
}

header .container #right {
    width: 70%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, var(--color-limed-spruce-95) 0%, var(--color-limed-spruce-25) 100%), url('../img/png/annie-spratt-TQSB-suJu1k-unsplash.png');
}

/* Nav Section */

nav {
    position: absolute;
    top: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

nav .left ul,
nav .right ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.left {
    width: 25%;
}

.left ul {
    justify-content: space-between;
}

.right {
    margin-right: 100px;

}

.right ul {

    width: 420px;
    justify-content: space-evenly;
}

.left h1,
.right h1,
.right p {
    font-size: 12px;
}

.quote h1 {
    margin: 0;
}

.quote p {
    text-align: right;
    margin: 0;
}

.quote p sup {
    font-size: 7px;
}

.quote {
    display: flex;
    flex-flow: column;
    justify-content: inherit;
    line-height: 20px;
}

#bag {
    display: flex;
    align-items: center;
}

#connexion {
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu {
    display: flex;

}

.right button {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav h1 {
    font-family: 'Avenir Book';
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}



nav ul li button {
    display: flex;
    background: none;
    color: var(--color-white);
    padding: 2px 40px;
    border: 1px solid var(--color-white);
    border-radius: 50px;
    margin: 0;
}

nav ul li h1 {
    font-family: 'Avenir Book';
    text-transform: uppercase;
    margin-left: 15.79px;
}



.vl {
    border-left: 1px solid var(--color-white);
    height: 50px;
    margin: 0;
}

.vl {
    border-left: 0.5px solid var(--color-white);
    height: 30px;
    margin: 0;
    opacity: 0.6;
}

#line {
    display: flex;
    justify-content: center;
    align-items: center;
}