/* Import fonts file */
@import url('../fonts/fonts.css');

body {
    margin: 0;
    padding: 0;
}

* {
    /* Color variables */
    --color-white: #fff;
    --color-finch: #58604B;
    --color-dawn-pink: #EBEBEB;
    --color-limed-spruce: #33464E;
    --color-limed-spruce-95: #33464ECC;
    --color-limed-spruce-25: #33464E4D;
    --color-baltic-sea: #242D31;
    --color-pastel-pink: #F9CED2;
    --color-scarlet: #BE0A1C;
    --color-dark-jungle-green: #242424;
    --color-alabaster: #FAFAFA;
    --color-boulder: #777777;
    --color-grey-goose: #D1D1D1;
    --color-shuttle-grey: #5C6D72;
}

/* Header Section */
header {
    color: var(--color-white);
}

header .container {
    display: flex;
    position: relative;
}

header .container #left {
    width: 641px;
    height: 100vh;
    background-color: var(--color-limed-spruce);
}

header .container #right {
    width: 1280px;
    height: 100vh;
    background-image: linear-gradient(90deg, var(--color-limed-spruce-95) 0%, var(--color-limed-spruce-25) 100%), url('../img/png/annie-spratt-TQSB-suJu1k-unsplash.png');
}

/* Nav Section */

nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin: 50px 100px 0 50px;
    z-index: 2;
}

nav h1 {
    font-family: 'Avenir Book';
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

nav .left, nav .right, nav ul, nav ul li{
    display: flex;
    margin: 0;
    padding: 0;
}

nav .left {
    justify-content: left;
}

nav .right {
    align-items: end;
}

nav .left ul li {
    list-style: none;
    margin: 0 50px;
}

nav .left ul li h1 {
    margin-top: 20px;
}

nav .right ul li {
    list-style: none;
    margin: 0 20px;
}

#menu h1{
    margin-left: 20px;
}

nav ul li button {
    display: flex;
    background: none;
    color: var(--color-white);
    padding: 2px 40px;
    border: 1px solid var(--color-white);
    border-radius: 50px;
    margin: 0;
}

nav ul li h1 {
    font-family: 'Avenir Book';
    text-transform: uppercase;
    margin-left: 15.79px;
}

nav ul .quote {
    display: flex;
    flex-direction: column;
}

nav ul .quote p {
    float: right;
}

nav ul .quote * {
    margin: 0;
}

.vl {
    border-left: 1px solid var(--color-white);
    height: 50px;
    margin: 0;
}