.work h1 {
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 500;
    color: var(--color-limed-spruce);
    line-height: 67px;
    text-align: center;
}

.work .steps {
    display: flex;
    justify-content: center;
}

.work .step,
.work .steps ul,
.work .steps li {
    display: flex;
    position: relative;
}

.work .step {
    margin: 0 100px;
    float: left;
}

.line {
    content: "";
    background: var(--color-scarlet);
    width: 60%;
    height: 2px;
    position: absolute;
    bottom: -200px;
}

.dot {
    content: "";
    background: var(--color-scarlet);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    bottom: -15px;
}